.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 30rem;
}

.swiper-slide-visible {
  transition: all 200ms;
  opacity: 0.5 !important;
}
.swiper-slide-visible.swiper-slide-thumb-active {
  opacity: 1 !important;
}

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  @media (max-width: 50rem) {
    width: 33.3%;
  }
  @media (max-width: 34rem) {
    width: 50%;
  }
  @media (max-width: 28rem) {
    width: 100%;
  }
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#secondSwiper {
  display: block;
  @media (max-width: 768px) {
    display: none;
  }
}
